.main {
    background-color: #faf8f3;
    height: 90vh;
}

.main__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 90vh;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background-color: #faf8f3;
    background-image:
        radial-gradient(circle at 98% 7%, rgba(246, 220, 91, 0.296) 380px, transparent 380px),
        radial-gradient(circle at 69% -29%, rgba(247, 229, 138, 0.327) 380px, transparent 380px),
        radial-gradient(circle at 5% 54%, rgba(138, 232, 157, 0.277) 300px, transparent 300px),
        radial-gradient(circle at 22% 103%, rgba(178, 238, 169, 0.451) 280px, transparent 280px);
}

.main__container h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(5rem, 10vw, 8rem);
    font-weight: 900;
    letter-spacing: 0.3rem;
    line-height: 1.5;
    text-align: center;
    background: linear-gradient(to right, #dec64e, #e1b659);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__container h2 {
    font-family: 'Bebas Neue', serif;
    font-size: clamp(5rem, 10vw, 10rem);
    letter-spacing: 0.6rem;
    line-height: 1.5;
    text-align: center;
    background: linear-gradient(to right, #4a9460, #88c17a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__header {
    color: #1c1a16;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: 500;
    letter-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.main__header span {
    display: inline-block;
    width: 5vw;
    max-width: 100px;
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: #1c1a16;
    white-space: nowrap;
}

.main__container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.main__container .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2vh 3vw;
    margin: 0 2vh;
    border: 2px solid white;
    border-radius: 15px;
    background: #bfaa72;
    color: white;
    white-space: nowrap;
}

.main__container .buttons .button1 {
    border-color: #bfaa72;
    color: #bfaa72;
    background: white;
}

.main__container .buttons .button1:hover {
    border-color: white;
    color: white;
    background: #bfaa72;
}

.main__container .buttons .button2:hover {
    border-color: #bfaa72;
    color: #bfaa72;
    background: white;
}

@media screen and (max-width: 800px) {
    .main__container {
        background-image:
        radial-gradient(circle at 98% -7%, rgba(246, 220, 91, 0.296) 280px, transparent 280px),
        radial-gradient(circle at 49% -23%, rgba(247, 229, 138, 0.327) 280px, transparent 280px),
        radial-gradient(circle at 5% 78%, rgba(138, 232, 157, 0.277) 200px, transparent 200px),
        radial-gradient(circle at 22% 103%, rgba(178, 238, 169, 0.451) 280px, transparent 280px);
    }
    .main__container .main__header,
    .header span {
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
        font-weight: 550;
    }
    .main__container h1{
        letter-spacing: 0;
        font-size: clamp(4.4rem, 10vw, 9rem);
    }
    .main__container h2 {
        font-size: clamp(4.5rem, 10vw, 9rem);
        letter-spacing: 0.1rem;
    }
}