    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
    }

    /* .container {
        background-color: #484349;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    } */
    .navbar {
        background-color: #fbfbfb;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        top: 0;
        z-index: 999;




    }

    .navbar__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        z-index: 999;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 50px;
        padding-bottom: 15px;
        border-bottom: 2px solid #bfaa72;
    }

    #navbar__logo {
        padding-top: 50px;
        font-weight: 750;
        letter-spacing: 1px;
        font-family: 'Playfair Display', sans-serif;
        /* color: #1F6A52; */
        color: #484349;
        /* color: linear-gradient(to top, #057a5f, #2fddb2); */
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2.3rem;
    }


    .navbar__menu {
        margin-top: 35px;
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }

    .navbar__item {
        height: auto;
    }

    .navbar__links {
        color: #484349;
        /* color: #1F6A52; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1.5rem;
        height: auto;
    }

    .navbar__links:hover {
        /* color: #D4AF37; */
        color: #bfaa72;
        transition: all 0.35s ease-out;
    }

    .navbar__links:hover::after {
        width: 100%;
    }


    @media screen and (max-width: 1100px) {
        .navbar__links {
            padding: 0 1.5rem;
            /* less spacing */
            font-size: 0.9rem;
            /* shrink text */
        }

        #navbar__logo {
            font-size: 1.8rem;
        }

        .navbar__container {
            max-width: 700px;
        }

    }

    @media screen and (max-width: 750px) {
        .navbar {
            position: sticky;
        }
        .navbar__container {
            z-index: 999;
            display: flex;
            justify-content: space-between;
            height: 80px;
            width: 100%;
            max-width: 1000px;
            padding: 0;
            margin: 0;
            position: absolute;
            padding-bottom: 0px;
            border-bottom: 0px solid #bfaa72;
        }

        .navbar__menu {

            display: flex;
            flex-direction: column;
            grid-template-columns: none;
            margin: 0;
            width: 100%;
            /* position: absolute; */
            position: relative;
            top: -1000px;
            opacity: 0;
            transition: all 0.5s ease;
            /* height: 50vh; */
            z-index: 999;
            background: #fbfbfb;
            padding-bottom: 30px;
            padding-top: 30px;
        }

        .navbar__menu.active {
            background: #fbfbfb;
            top: 10px;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 999;
            height: 50vh;
            font-size: 1.6rem;

        }

        .navbar__menu.active::after {
            content: "";
            position: absolute;
            bottom: 20px;
            left: 20%;
            width: 60%;
            height: 2px;
            background: #bfaa72;
        }

        .navbar__toggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navbar__toggle .bar {

            width: 25px;
            height: 3px;
            margin: 3px auto;
            transition: all 0.3s ease-in-out;
            background: #484349;
            display: block;
            cursor: pointer;
        }


        .navbar__item {
            width: auto;
            margin-top: -25px;
        }

        .navbar__links {
            text-align: center;
            padding: 1.5rem;
            width: 100%;
            display: table;

        }

        #mobile-menu {
            z-index: 999;
            order: -1;
            align-self: flex-end;
            margin-right: 60px;
            padding: 7px;
            cursor: pointer;
        }

        #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
        }

        #mobile-menu.is-active .bar:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }

        #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
        }
    }



    /* Hero CSS  */
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-200%);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .main {
        background-color: #fbfbfb;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: 0 auto;
        height: 72.5vh;
        background-color: #fbfbfb;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;

    }

    .panel1out {
        opacity: 0;
        position: relative;
        justify-self: center;
        background: linear-gradient(135deg, #cbb87a, #f5e7b8);
        /* background-color: #bfaa72; */
        width: 310px;
        height: 370px;
        padding: 25px;
        top: -20px;
        left: 60px;
        z-index: 2;
        border-radius: 16px;
        animation: slideIn 1s ease-out forwards;
        animation-delay: 0.4s;

    }

    .panel2out {
        opacity: 0;
        position: relative;
        justify-self: center;
        background: linear-gradient(135deg, #0a8f70, #4fe0c0);
        width: 310px;
        height: 370px;
        padding: 25px;
        z-index: 1;
        border-radius: 16px;
        animation: slideIn 1s ease-out forwards;
        animation-delay: 0.2s;

    }

    .panel3out {
        opacity: 0;
        position: relative;
        justify-self: center;
        background: linear-gradient(135deg, #cbb87a, #f5e7b8);
        width: 310px;
        height: 370px;
        padding: 25px;
        bottom: -20px;
        right: 60px;
        z-index: 0;
        border-radius: 16px;
        animation: slideIn 1s ease-out forwards;

    }

    .panel1in,
    .panel3in {
        background-color: #fdfaec;
        height: 320px;
        padding-top: 15px;
        border-radius: 12px;
    }

    .panel2in {
        background-color: #e5fbf6;
        height: 320px;
        padding-top: 15px;
        border-radius: 12px;
    }

    .panel1in h2,
    .panel2in h2,
    .panel3in h2 {
        font-family: 'Playfair Display', sans-serif;
        font-size: 1.5rem;
        color: #484349;
        justify-self: center;

    }

    .panel1in p,
    .panel2in p,
    .panel3in p {
        color: #484349;
        font-size: 1rem;
        justify-self: center;
        padding: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    @media screen and (max-width: 1250px) {

        .panel1out,
        .panel2out,
        .panel3out {
            width: 290px;
            height: 420px;
        }


        .panel1in,
        .panel2in,
        .panel3in {
            height: 370px;
            width: 240px;
        }
    }

    @media screen and (max-width: 1200px) {
        .main__container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
            height: auto;
        }

        .panel1out,
        .panel2out,
        .panel3out {
            margin-top: 20px;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            width: 650px;
            height: 200px;
            padding: 25px;
        }

        .panel1in,
        .panel2in,
        .panel3in {

            width: 600px;
            height: 150px;
        }

        .panel1in h2,
        .panel2in h2,
        .panel3in h2 {
            font-size: 1.2rem;
        }

        .panel1in p,
        .panel2in p,
        .panel3in p {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 750px) {
        .panel1out,
        .panel2out,
        .panel3out {
            margin-top: 20px;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            width: 400px;
            height: 250px;
            padding: 25px;
        }

        .panel1in,
        .panel2in,
        .panel3in {

            width: 350px;
            height: 200px;
        }
    }