.section1 {
    padding: 7vh 12.5vw;
    background-color: rgb(248, 248, 248);
    border-bottom: 0.5px solid rgba(109, 109, 109, 0.241);
    background-image:
        radial-gradient(circle at 110% -7%, rgba(246, 220, 91, 0.296) 25rem, transparent 25rem),
        radial-gradient(circle at 78% -27%, rgba(244, 225, 131, 0.296) 20rem, transparent 20rem),
        radial-gradient(circle at -2% 45%, rgba(178, 238, 169, 0.451) 12rem, transparent 12rem),
        radial-gradient(circle at 4% 64%, rgba(138, 232, 157, 0.277) 15rem, transparent 15rem);
}

.section2 {
    padding: 7vh 12.5vw;
    background-color: rgb(248, 248, 248);
    border-bottom: 0.5px solid rgba(109, 109, 109, 0.241);
    background-image:
        radial-gradient(circle at 108% 43%, rgba(246, 213, 51, 0.296) 15rem, transparent 15rem),
        radial-gradient(circle at 101% 67%, rgba(244, 225, 131, 0.296) 14rem, transparent 14rem),
        radial-gradient(circle at -10% 55%, rgba(178, 238, 169, 0.451) 15rem, transparent 15rem),
        radial-gradient(circle at -4% 34%, rgba(138, 232, 157, 0.277) 14rem, transparent 14rem);
}

.section3 {
    padding: 7vh 12.5vw;
    background-color: rgb(248, 248, 248);
    background-image:
        radial-gradient(circle at 105% 65%, rgba(178, 238, 169, 0.451) 15rem, transparent 15rem),
        radial-gradient(circle at 100% 94%, rgba(138, 232, 157, 0.277) 16rem, transparent 16rem);
}

.section1__container {
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1vw;
    margin-top: 1rem;
}

.section__content1 {
    /* border-left: 0.5px solid rgba(109, 109, 109, 0.241); */
    padding-left: 5vw;
    margin-left: auto;
    /* max-width: 40vw; */
    align-self: right;
}

.section__content2 {
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
}

.section__content3 {
    gap: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.eyebrow {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.9rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    /* text-align: left; */
    color: #195923c1;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(2.5rem, 10vw, 3.5rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.3;
    text-align: left;
    color: #195923c1;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    text-align: left;
    color: #1b6927a9;
}

/* h4 {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(0.8rem, 10vw, 1.6rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    text-align: left;
    color: #d8c920;
}

h5 {
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.8rem, 1.2vw, 0.95rem);
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: 2;
    color: #1c1a16;
    border-left: 3px solid #399346a9;
    padding-left: 0.75rem;
    margin: 0.2rem 0;
    margin-bottom: 0.5rem;
} */

p {
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    line-height: 1.5;
    text-align: left;
}

.section__images1 {
    background-color: rgb(253, 253, 253);
    border: 0.5px solid rgba(109, 109, 109, 0.241);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 25px;
    padding: 1.5rem;
}

#main__img {
    height: auto;
    width: 100%;
    border: 0.5px solid rgba(109, 109, 109, 0.241);
    border-radius: 20px 20px 0 0;
    display: block;
}

.img__caption {
    border-radius: 0 0 20px 20px;
    padding: 0.5rem 0rem;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    letter-spacing: 0.05rem;
    background-color: #64946b;
    color: white;
    text-align: center;
    width: 100%;
}


.block {
    /* background-color: white; */
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid rgba(109, 109, 109, 0.241);
}

.block:last-child {
    border-bottom: none;
}

.class__block {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-right: 2.5rem;
    width: 33.5vw;
}

.classes__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.class__card {
    width: auto;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 28px;
    padding: 1.5rem;
    justify-items: center;
    height: auto;
}

.class__number {
    font-family: 'Bebas Neue', serif;
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.class__title {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.class__card.class__card:nth-child(1) {
    border: 2px solid #195936c1;
}

.class__card:nth-child(1) .class__number,
.class__card:nth-child(1) .class__title {
    color: #195936c1;
}

.class__card.class__card:nth-child(2) {
    border: 2px solid #1f702bc1;
}

.class__card:nth-child(2) .class__number,
.class__card:nth-child(2) .class__title {
    color: #1f702bc1;
}

.class__card.class__card:nth-child(3) {
    border: 2px solid #4b9b20c1;
}

.class__card:nth-child(3) .class__number,
.class__card:nth-child(3) .class__title {
    color: #4b9b20c1;
}

.class__card.class__card:nth-child(4) {
    border: 2px solid #63561365;
}

.class__card:nth-child(4) .class__number,
.class__card:nth-child(4) .class__title {
    color: #cdb938;
}

.date__title {
    margin-top: 1rem;
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    text-align: left;
    color: #1b6927a9;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(91, 91, 91, 0.57);
}

.date__item {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    gap: 1rem;
}

.date__item .number {
    border-radius: 16px;
    padding: 0.3rem 0.7rem;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    letter-spacing: 0.05rem;
    background-color: #205228b7;
    color: white;
    text-align: center;
    width: 10vw;
}

.dates:last-child .date__title {
    color: #d3bb1f;
}


.dates:last-child .date__item .number {
    background-color: #ceb721;
}

@media screen and (max-width: 768px) {

    /* section 1 */
    .section1, .section2, .section3 {
        padding: 5vh 6vw;
    }

    .section1__container {
        grid-template-columns: 1fr;
    }

    .section__content1 {
        padding-left: 0;
    }

    .section__images1 .img-card {
        flex: 1;
    }

    /* section 2 */
    .section__content2 {
        grid-template-columns: 1fr;
    }

    .class__block {
        width: 100%;
        padding-right: 0;
    }

    .classes__grid {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .class__card {
        margin-right: 0;
    }

    /* section 3 */
    .section__content3 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .date__item .number {
        width: 130px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .classes__grid {
        grid-template-columns: 1fr;
    }

    .section__images1 {
        flex-direction: column;
    }

    h2 {
        font-size: clamp(2rem, 8vw, 2.5rem);
    }
}