.header {
    grid-template-rows: auto auto;
    height: 25vh;
    background-color: #faf8f3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h1 {
    margin-bottom: 5vh;
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(5rem, 10vw, 8rem);
    font-weight: 900;
    letter-spacing: 0.3rem;
    line-height: 1.5;
    text-align: center;
    color: #c7a149;;
}

.header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}